.all-projects {
    padding: 4rem 0;
}

.back-button {
    padding: 1rem 2rem;
    background-color: var(--orange);
    color: var(--bg-color);
    border-radius: 999px;
    text-decoration: none;
    display: inline-block;
    border: none;
}

.all-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media (max-width: 900px) {
    .all-projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .all-projects-grid {
        grid-template-columns: 1fr;
    }
}